.bTable{}
	.bTable__head{}
	.bTable__body{}
	.bTable__th{}
	.bTable__tr{}
	.bTable__td{}
		.bTable__td_align_center{
			text-align:center;}
	
	.bTable_style_default{
		width: 100%;
		border: 1px solid rgb(197, 197, 197);
		cursor: default;}
		
		.bTable_style_default .bTable__head{
			background-color: rgb(243, 243, 243);}
			.bTable_style_default .bTable__head .bTable__th:nth-last-child(n+2){
				border-right: 1px dashed rgb(255, 255, 255);}
		.bTable_style_default .bTable__body{
			}		
		.bTable_style_default .bTable__th{
			padding: 5px;
			font-weight: bold;
			color: rgb(111, 111, 111);}
		.bTable_style_default .bTable__tr{
			}
			.bTable_style_default .bTable__tr:hover{
				background-color: rgb(250, 250, 250);}
		.bTable_style_default .bTable__td{
			padding: 5px;}
			.bTable_style_default .bTable__tr .bTable__td:nth-last-child(n+2){
				border-right: 1px dashed rgb(197, 197, 197);}