.bIndex{
	width: 100%;
	margin: 0 auto;}
	.bIndex__header{
		}
	.bIndex__tools{
		}
	.bIndex__body{
		}
	.bIndex__side{
		}
	.bIndex__content{
		}
	.bIndex__footer{
		}
	.bIndex__clear{
		clear:both;}

.bIndex_blib{
	height:100%;
	width: 80%;
	margin: 0 auto;}
	.bIndex_blib .bIndex__header{
		height: 50px;
		border: 1px solid rgb(219, 219, 219);
		border-top: 0;}
	.bIndex_blib .bIndex__tools{
		border: 1px solid rgb(219, 219, 219);
		border-top: 0;
		border-bottom: 0;
		position: relative;
		z-index: 1;}
	.bIndex_blib .bIndex__body{
		border: 1px solid rgb(190, 190, 190);
		border-width: 1px 0;}
	.bIndex_blib .bIndex__side{
		width: 250px;
		float: left;
		border-right: 1px solid rgb(190, 190, 190);
		margin-right:-1px;}
	.bIndex_blib .bIndex__content{
		background: white;
		margin-left: 250px;
		border-left: 1px solid rgb(190, 190, 190);}