
.bTudaSuda{
	position: fixed;
	top: 30px;
	left: 10px;
	cursor: pointer;
	display:none;
	padding: 5px 5px 5px 25px;
	height: 20px;
	border: 1px solid rgb(141, 141, 141);
	background: rgb(248, 248, 248);
	opacity: 0.3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
	color: rgb(60, 60, 60);}
	.bTudaSuda::before {
		content: '';
		border-color: #909090 transparent;
		border-style: solid;
		width: 0;
		height: 0;
		position: absolute;
		margin: 6px 0 5px -20px;}
	.bTudaSuda:hover{
		opacity: 1.0;}			
	
	.bTudaSuda_status_up,
	.bTudaSuda_status_down{
		display:block;}
		
	.bTudaSuda_status_up::before {
		border-width: 0 8px 8px 8px;}

	.bTudaSuda_status_down::before {
		border-width: 8px 8px 0 8px;}