.bForm{}
	.bForm__fieldset{}
	.bForm__legend{}
	.bForm__label{}
	.bForm__text{}
	.bForm__submit{}
	.bForm__message{}
	.bForm__reset{}
	.bForm__button{}
	.bForm__image{}
	.bForm__text{}
	.bForm__password{}
	.bForm__checkbox{}
	.bForm__radio{}
	.bForm__file{}
	.bForm__hidden{}
	.bForm__textarea{
		max-width: 100%;}
	.bForm__select{}
	.bForm__selectplus{}
	.bForm__selectadd{}
	.bForm__selectinput{}
	
	.bForm_style_default{}
		.bForm_style_default .bForm__label,
		.bForm_style_default .bForm__text,
		.bForm_style_default .bForm__password,
		.bForm_style_default .bForm__file,
		.bForm_style_default .bForm__textarea,
		.bForm_style_default .bForm__select,
		.bForm_style_default .bForm__option,
		
		.bForm_style_default .bForm__radio,
		.bForm_style_default .bForm__checkbox{
			padding: .5em .6em;
			display: inline-block;
			border: 1px solid #ccc;
			box-shadow: inset 0 1px 3px #ddd;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			
			width: 48%;
			margin: 5px 1%;}
			
		.bForm_style_default .bForm__radio,
		.bForm_style_default .bForm__checkbox{
			margin: 0 auto;
			box-shadow: none;
			border: 0;
			vertical-align: middle;}
		
		.bForm_style_default .bForm__fieldset{}
		.bForm_style_default .bForm__legend{}
		.bForm_style_default .bForm__label{
			padding: .4em .6em;}
		.bForm_style_default .bForm__text{}
		.bForm_style_default .bForm__submit{}
		.bForm_style_default .bForm__message{
			text-align: center;
			overflow: auto;
			padding: 5px;
			margin: 5px;
			border: 1px solid rgb(228, 228, 228);
			background-color: rgb(247, 247, 247);}
		.bForm_style_default .bForm__reset{}
		.bForm_style_default .bForm__button{}
		.bForm_style_default .bForm__image{}
		.bForm_style_default .bForm__text{}
		.bForm_style_default .bForm__password{}
		.bForm_style_default .bForm__checkbox{}
		.bForm_style_default .bForm__radio{}
		.bForm_style_default .bForm__file{
			padding: .3em .6em;}
		.bForm_style_default .bForm__hidden{}
		.bForm_style_default .bForm__textarea{
			width: 98%;
			margin: 5px 1%;}
		.bForm_style_default .bForm__select{
			padding: .3em .6em;}
		.bForm_style_default .bForm__selectplus{}
		.bForm_style_default .bForm__selectadd,
		.bForm_style_default .bForm__selectinput{
			position: absolute;
			background-color: rgb(255, 255, 255);
			border: 1px solid rgb(231, 231, 231);
			padding: .1em .6em;
			margin: 10px 1%;
			text-align: center;}
		.bForm_style_default .bForm__selectadd{
			cursor:pointer;
			width: 14px;}
		.bForm_style_default .bForm__selectinput{
			padding: .15em .6em;
			margin-left: 50px;
			display:none;}
			.bForm_style_default .bForm__selectinput_open{
				display:inline;}

			.bForm_style_default .bForm__selectplus .bForm__select{
				padding-left:40px;}
		
		.bForm_style_default .bForm__textarea_full{
			width: 98%;}
		
		.bForm_style_default .bForm__label_full{
			width: 98%;}