.bDocumentation{
	display: block;
	padding: 0;
	margin:0;
	height: 100%;}
	
	.bDocumentation__outer{
		float: left;
		overflow: hidden;
		width: 100%;}
	.bDocumentation__inner{
		float: left;
		width: 100%;
		position: relative;
		right: 75%;

		background: -webkit-linear-gradient(right,rgba(0, 0, 0, .05),rgba(0, 0, 0, .05) 1px,rgba(0, 0, 0, .07) 1px,transparent 30px,transparent 100%);
		background: -moz-linear-gradient(right,rgba(0, 0, 0, .05),rgba(0, 0, 0, .05) 1px,rgba(0, 0, 0, .07) 1px,transparent 30px,transparent 100%);
		background: -ms-linear-gradient(right,rgba(0, 0, 0, .05),rgba(0, 0, 0, .05) 1px,rgba(0, 0, 0, .07) 1px,transparent 30px,transparent 100%);
		background: -o-linear-gradient(right,rgba(0, 0, 0, .05),rgba(0, 0, 0, .05) 1px,rgba(0, 0, 0, .07) 1px,transparent 30px,transparent 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=1 );}
	
	.bDocumentation__navigation{
		float: left;
		width: 23%;
		position: relative;
		left: 75%;
		margin: 1%;}
	.bDocumentation__item{
		float: left;
		width: 73%;
		position: relative;
		left: 75%;
		margin: 1%;}
		
		
	.bDocumentation__ul{
		display:none;}
		.bDocumentation__ul_opened{
			display:block;}
	.bDocumentation__li{
		padding: 2px 2px 2px 20px;}
	.bDocumentation__opener{
		position:absolute;
		font-size: 10px;
		font-weight: bold;
		color: rgb(0, 194, 255);
		border: 1px solid rgb(209, 209, 209);
		float: left;
		padding: 0 2px;
		cursor: pointer;
		margin: 2px 0 2px -20px;
		width: 6px;
		height: 10px;
		text-align: center;}
		.bDocumentation__opener_opened{
			font-size: 17px;
			line-height: 7px;}
		.bDocumentation__opener:hover {
			background: rgb(245, 245, 245);
			}
	.bDocumentation__link{
		text-decoration: none;
		color: rgb(82, 82, 82);}
		.bDocumentation__link:hover{
			text-decoration: underline;}
		.bDocumentation__link_active{
			font-weight:bold;}
			
	.bDocumentation__header{
		font-weight:bold;
		font-size:17px;}
		.bDocumentation__header_center{
			text-align:center;}