.bGrid {
    letter-spacing: -0.31em;
    word-spacing: -0.43em;}

	.bGrid__cell {
		position:relative;
		display:inline-block;
		word-wrap:break-word;
		letter-spacing: normal;
		word-spacing: normal;
		vertical-align: top;}
	
		.bGrid__cell_ie {
			display:inline;
			margin-right:-1px;
			zoom: 1;}
		.bGrid__cell_1-1 {width: 100%;}
		.bGrid__cell_1-2 {width: 50%;}
		.bGrid__cell_1-3 {width: 33.33333%;}
		.bGrid__cell_1-4 {width: 25%;}
		.bGrid__cell_1-5 {width: 20%;}
		.bGrid__cell_1-6 {width: 16.656%;}
		.bGrid__cell_1-8 {width: 12.5%;}
		.bGrid__cell_1-12 {width: 8.3333%;}
		.bGrid__cell_1-24 {width: 4.1666%;}
		.bGrid__cell_2-3 {width: 66.66666%;}
		.bGrid__cell_2-5 {width: 40%;}
		.bGrid__cell_3-4 {width: 75%;}
		.bGrid__cell_3-5 {width: 60%;}
		.bGrid__cell_3-8 {width: 37.5%;}
		.bGrid__cell_4-5 {width: 80%;}
		.bGrid__cell_5-6 {width: 83.33%;}
		.bGrid__cell_5-8 {width: 62.5%;}
		.bGrid__cell_5-12 {width: 41.6666%;}
		.bGrid__cell_5-24 {width: 20.8333%;}
		.bGrid__cell_7-8 {width: 87.5%;}
		.bGrid__cell_7-12 {width: 58.3333%;}
		.bGrid__cell_7-24 {width: 29.1666%;}
		.bGrid__cell_11-12 {width: 91.6666%;}
		.bGrid__cell_11-24 {width: 45.8333%;}
		.bGrid__cell_13-24 {width: 54.1666%;}
		.bGrid__cell_19-24 {width: 79.1666%;}
