.bUser{}
	.bUser__login{}
	.bUser__password{}
	.bUser__submit{}
	.bUser__logout{}
	
	.bUser_style_default{
		margin:6px;
		padding:2px;
		border:1px solid black;}
		.bUser_style_default .bUser__login{
			text-align:center;}
		.bUser_style_default .bUser__password{
			text-align:center;}
		.bUser_style_default .bUser__submit{
			}
		.bUser_style_default .bUser__logout{
			margin: 1px auto;
			text-decoration: none;
			color: rgb(0, 129, 190);}